
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
	background-color: black;
	color: white;
}
.timer{
	color: white;
	text-align: center;
	margin-bottom: 10px;
	font-size: 20px;
}
.score{
	text-align: center;
	color: white;
	margin-bottom: 30px;
}
.buttons{
	display: flex;
	justify-content: center;
	column-gap: 10px;
	margin: 20px 0;
}
.btn{
	padding: 15px;
	transition: 0.2s linear all;
	font-size: 20px;
	display: block;
	background-color: red;
	color: white;
}
.score{
	font-size: 20px;
	font-weight: 900;
}
.prompt{
	left: -20px;
	position: absolute;
	padding: 15px;
	top: 5px;
	transition: 0.2s linear all;
	font-size: 20px;
	width: 200px;
	display: block;
	background-color: rgb(255, 0, 0);
	color: rgb(255, 255, 255);
}
.prompt__img{
	position: absolute;
	left: -20px;
	top: 70px;
	visibility: hidden;
	transform: scaleY(0);
	transform-origin: top;
	transition: 0.3s linear all;
}
.show{
	visibility: visible;
	transform: scaleY(100%);
}
.btn:hover{
	background-color: rgb(255, 255, 255);
	color: black;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.spells{
	text-align: center;
}
.title{
	text-align: center;
	font-size: 40px;
	color: white;
	margin-bottom: 50px;
	font-weight: bold;
}
.spell__panel{
	display: flex;
	column-gap: 10px;
	justify-content: center;
	margin-bottom: 10px;
}
.spell__panel li{
	position: relative;
	width: 50px;
	height: 50px;
	&::before{
		display: block;
		border-radius: 50%;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		background-size: cover;
		background-position: center;
	}
}
.quas::before{background-image: url('../img/quas.jpg');}
.wex::before{background-image: url('../img/wex.jpg');}
.exort::before{background-image: url('../img/exort.jpg');}
.spell{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.streak{
	margin-left: 20px;
	font-size: 30px;
	color: red;
}
.spell li{
	width: 128px;
	height: 128px;
	position: absolute;
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	transition: .2s all linear;
	&::before{
		display: block;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}
.vis{
	opacity: 1 !important;
	visibility: visible !important;
	position: relative !important;
	transform: scale(100%) !important;
}
/*--------------------------------------*/
.meteor::before{background-image: url('../img/meteor.jpg');}
.strike{background-image: url('../img/strike.jpg');}
.snap{background-image: url('../img/snap.jpg');}
.emp{background-image: url('../img/emp.jpg');}
.forge{background-image: url('../img/forge.jpg');}
.tornado{background-image: url('../img/tornado.jpg');}
.invis{background-image: url('../img/invis.jpg');}
.alacrity{background-image: url('../img/alacrity.jpg');}
.blast{background-image: url('../img/blast.jpg');}
.wall{background-image: url('../img/wall.jpg');}
/*--------------------------------------*/
.popup{
	z-index: 1000000000;
	visibility: hidden;
	opacity: 0;
	&__window{
		background-color: black;
		display: flex;
		position: absolute;
		left: 0;
		opacity: 0;
		transition: 0.2s linear all;
		top: 0;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
	}
	&__content{
		background-color: rgb(124, 82, 82);
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		align-items: center;
		justify-content: center;
		width: 300px;
		height: 300px;
		transform: scale(0);
		transition: 0.2s linear all;
		& p{
			font-size: 30px;
		}
	}
	&__buttons{
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
}
.popup.popup__show{
	visibility: visible;
	opacity: 1;
	& .popup__window{
		opacity: 1;
	}
	& .popup__content{
		transform: scale(100%);
	}
} 
